.search-bar {
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translateY(300px);
  display: flex;
}
.search-bar__searched {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  transform: translateY(40px);
  transition: all 1s ease;
}
.bar {
  margin-right: 15px;

  min-width: 100px;
  max-width: 300px;
  height: 60px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  background-color: rgb(245, 244, 244);
  border-color: bisque;
  border-style: inherit;

  resize: none;
  outline: none;
}
.select-units {
  display: flex;
  height: 60px;
  max-width: 10px;
}

.measurement-bar {
  margin-right: 15px;

  width: 100px;
  height: 60px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  background-color: rgb(245, 244, 244);

  border-style: inherit;

  resize: none;
  outline: none;
}
.hamburger-icon {
  transition: 3s ease-in-out;
  filter: invert(56%) sepia(82%) saturate(376%) hue-rotate(1deg) brightness(83%)
    contrast(90%);
  transform: scale(1.9) skew(2deg);
  -webkit-transform: scale(1.9) skew(2deg);
  -moz-transform: scale(1.9) skew(2deg);
  margin-left: 20px;
  cursor: pointer;
  display: inline-block;
}

.hamburger-icon:hover {
  transition: all 0.5s ease;
  transform: scale(2.5);
}

.search-button {
  border: none;
  background: none;
}

.units {
  margin-right: 30px;
  width: 50px;
  display: inline-block;
}
.unit-option {
  font-size: 17px;
}
